<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/public/contact.css">
</head>
<body>
    <nav class = "navbar">
        <ul class = "nav-links">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/addtask/page">Add Task</a></li>
            <li><a href="/viewtasks">View Tasks</a></li>
            <li><a href="/contact/page">Contact</a></li>
        </ul>
    </nav>
    <section>
        <div class="github-button">
            <a href="https://github.com/JosephAJJames" target="_blank" class="btn-github">
            <i class="fab fa-github"></i> View on GitHub
            </a>
        </div>
    </section>
</body>
</html>