<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/login_style.css">
</head>
<body>
    <main class = "main_section">
        <h1>Task Management</h1>
        <form action="http://0.0.0.0:3030/login" method="POST" class = "main_form">
            <input type="text" name = "user" placeholder="Username" required>
            <input type="text" name = "password" placeholder="Password" required>
            <input type="text" name = "name" placeholder="Name" required>
            <section class = "button_panel">
                <button type = "submit">Submit</button>
                <a href="/signup/page">Sign Up</a>
            </section>
        </form>
    </main>
    <% if (typeof message !== 'undefined'){ %>
        <p><%= message %></p>
    <% } %>
</body>
</html>