<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/login_style.css">
</head>
<body>
    <nav class = "navbar">
        <div class = "logo">Logo</div>
        <ul class = "nav-links">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/addtask/page">Add Task</a></li>
            <li><a href="/viewtasks">View Tasks</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <form action="http://0.0.0.0:3030/signup" method="POST">
        <input type="text" placeholder="Username" name = "username" required>
        <input type="text" placeholder="Password" name = "password" required>
        <input type="text" placeholder="Confirm Password" name = "passwordconfirm" required>
        <input type="text" placeholder = "Name" name = "name" required>
        <button type="submit">Sign Up</button>
        <%if (typeof message !== 'undefined') { %>
            <p><%= message %></p>
        <% } %>
    </form>
</body>
</html>