<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/view_tasks.css">
</head>
<body>
    <nav class = "navbar">
        <div class = "logo">Logo</div>
        <ul class = "nav-links">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/addtask/page">Add Task</a></li>
            <li><a href="/viewtasks">View Tasks</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <% if (message === 'undefined') { %>
    <% } else { %>
        <% if (!message.length) { %>
            <p>There are currently no tasks to display, <a href="/addtask/page">would you like to add a task?</a></p>
        <% } else { %>
            <table>
                <tr>
                    <td>Task Num</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Due Date</td>
                </tr>
                <% message.forEach(element => { %>
                    <tr>
                        <td><%= element.taskNum%></td>
                        <td><%= element.title%></td>
                        <td><%= element.description%></td>
                        <td><%= element.due_date%></td>
                    </tr>
                <%}) %>
            </table>
        <% } %>
    <% } %>
</body>
</html>